/* Shared Style */
@import "tailwindcss";
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 9.375rem;
  padding-right: 9.375rem;
  padding-top: 1.875rem;
}
.description-color {
  color: rgba(0, 0, 0, 0.5);
}
/* Navbar Section */
.nav-container {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 7.15625rem;
}
.navbar-list {
  gap: 3rem;
}
.nav-color {
  color: rgb(137, 135, 161);
}
.navbar-list-item-1 a:hover {
  color: rgba(78, 72, 72, 0.726);
}

/* Navbar Section End  */

/* Banner-Section */
.Banner-Section {
  margin-bottom: 7.5rem;
}
.banner-title span,
.plant-title span {
  color: rgb(233, 90, 8);
}
.banner-description {
  max-width: 35.625rem;
  width: 100%;
}
/* Banner-Section End */

/* Our Plants Section */
.plant-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-bottom: 13.195rem;
}
.plant-card img {
  object-fit: contain;
  margin-bottom: 1.875rem;
}
.plant-title,
.plant-description {
  text-align: center;
}
.plant-title {
  margin-bottom: 1rem;
}
.plant-description {
  max-width: 55.5rem;
  width: 100%;
  margin-bottom: 3.0625rem;
}
.plant-card-title {
  margin-bottom: 1.25rem;
}
.plant-usd {
  margin-bottom: 1.875rem;
}
.add-to-cart {
  padding: 1.625rem 3.125rem;
  color: white;
  background-color: rgb(233, 90, 8);
  max-width: 16.875rem;
  width: 100%;
}
.add-to-cart:hover {
  background-color: rgba(233, 90, 8, 0.753);
}
/* Responsive Section */
@media screen and (max-width: 40rem) {
  .container {
    max-width: 40rem;
    padding: 0.8125rem 1rem;
  }
  /* Responsive Navbar Section */
  .image-container img {
    width: 50%;
  }
  /*  Responsive Navbar Section End  */
  /* Responsive our plant */
  .plant-container {
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    place-items: center;
  }
  .plant-card {
    width: 42.5vw;
  }
  .plant-card p {
    font-size: 1rem;
  }
  .add-to-cart {
    font-size: 1rem;

    /* max-width: 10.6875rem; */
    max-width: inherit;
  }
}
/*  */